@font-face {
    font-family: 'Bounded';
    src: url('../fonts/Bounded-Regular.eot');
    src: url('../fonts/Bounded-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bounded-Regular.woff2') format('woff2'),
        url('../fonts/Bounded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bounded';
    src: url('../fonts/Bounded-ExtraLight.eot');
    src: url('../fonts/Bounded-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bounded-ExtraLight.woff2') format('woff2'),
        url('../fonts/Bounded-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bounded';
    src: url('../fonts/Bounded-Black.eot');
    src: url('../fonts/Bounded-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bounded-Black.woff2') format('woff2'),
        url('../fonts/Bounded-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TildaSansBlack';
    src: url('../fonts/TildaSans-Black.eot');
    src:
         url('../fonts/TildaSans-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TildaSans-Black.woff2') format('woff2'),
         url('../fonts/TildaSans-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TildaSansBold';
    src: url('../fonts/TildaSans-Bold.eot');
    src:
         url('../fonts/TildaSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TildaSans-Bold.woff2') format('woff2'),
         url('../fonts/TildaSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TildaSansExtraBold';
    src: url('../fonts/TildaSans-ExtraBold.eot');
    src:
         url('../fonts/TildaSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TildaSans-ExtraBold.woff2') format('woff2'),
         url('../fonts/TildaSans-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TildaSansLight';
    src: url('../fonts/TildaSans-Light.eot');
    src:
         url('../fonts/TildaSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TildaSans-Light.woff2') format('woff2'),
         url('../fonts/TildaSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TildaSansMedium';
    src: url('../fonts/TildaSans-Medium.eot');
    src:
         url('../fonts/TildaSans-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TildaSans-Medium.woff2') format('woff2'),
         url('../fonts/TildaSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TildaSansRegular';
    src: url('../fonts/TildaSans-Regular.eot');
    src:
         url('../fonts/TildaSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TildaSans-Regular.woff2') format('woff2'),
         url('../fonts/TildaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TildaSansSemibold';
    src: url('../fonts/TildaSans-Semibold.eot');
    src:
         url('../fonts/TildaSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TildaSans-Semibold.woff2') format('woff2'),
         url('../fonts/TildaSans-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

